@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "tailwindcss";

body{
  background-color:rgb(226, 229, 233);
}

.font-marker{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}